.cobox {
  display: none;
}
.cobox-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  background-color: #000;
}
.cobox-main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
}
.cobox-outer {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto;
  padding: 4px;
  background-color: #fff;
}
.cobox-nav {
  display: none;
  position: absolute;
  top: 0;
  cursor: pointer;
  width: 40%;
  height: 100%;
  background: transparent url(../images/blank.gif);
}
.cobox-prev {
  left: 0;
}
.cobox-next {
  right: 0;
}
.cobox-nav:hover:before {
  display: block;
}
.cobox-nav:before {
  display: none;
  content: "";
  background-image: url(../images/nav.png);
  position: absolute;
  top: 50%;
  margin-top: -22px;
  width: 29px;
  height: 45px;
}
.cobox-prev:before {
  left: 20px;
  background-position: 31px 0;
}
.cobox-next:before {
  right: 20px;
  background-position: 0 0;
}
.cobox-title {
  display: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 3px auto 0;
  color: #fefefe;
}
.cobox-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cobox-image {
  display: none;
  width: 100%;
  height: 100%;
}
.cobox-loading {
  width: 100%;
  height: 100%;
  background: url(../images/loading.gif) no-repeat center center;
  background-color: #fff;
  margin: 0 auto;
}
